<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="Database" connectionString="Data Source=.\SQL2016;Initial Catalog=_SN7_MC;Integrated Security=True"/>
    <add name="Index" connectionString="D:\projects\_SN7_MC\_SN7_MC\App_Data\LocalIndex\20190215003303"/>
  </connectionStrings>
</configuration>